@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bebas+Neue&family=Croissant+One&family=Dancing+Script&family=EB+Garamond:wght@600&family=Fira+Sans:wght@300;400&family=Gentium+Plus&family=Josefin+Sans:wght@700&family=Kanit:wght@200&family=Montserrat:wght@100;300&family=Open+Sans:wght@300&family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bebas+Neue&family=Croissant+One&family=Dancing+Script&family=EB+Garamond:wght@600&family=Fira+Sans:wght@300;400&family=Gentium+Plus&family=Josefin+Sans:wght@700&family=Kanit:wght@200&family=Montserrat:wght@100;300&family=Open+Sans:wght@300&family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bebas+Neue&family=Croissant+One&family=Dancing+Script&family=EB+Garamond:wght@600&family=Fira+Sans:wght@300;400&family=Gentium+Plus&family=Josefin+Sans:wght@700&family=Kanit:wght@200&family=Montserrat:wght@100;300&family=Open+Sans:wght@300&family=Poppins:wght@500&family=Raleway:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bebas+Neue&family=Croissant+One&family=Dancing+Script&family=EB+Garamond:wght@600&family=Fira+Sans:wght@300;400&family=Gentium+Plus&family=Josefin+Sans:wght@700&family=Kanit:wght@200&family=Montserrat:wght@100;300&family=Mooli&family=Open+Sans:wght@300&family=Poppins:wght@500&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: black;
    width: 100%;
    height: 80px;
    position: fixed;
}

.navbar {
    display: flex;
}

.navbar img {
    margin-left: 100px;
    font-size: 50px;
    margin-top: 18px;
}

.navbar ul {
    display: flex;

}

.navbar li {
    position: relative;
    color: white;
    text-decoration: none;
}

.navbar li:hover {
    color: white;
}

.navbar li::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navbar li:hover::before {
    transform: scaleX(1);
}

.navbar li {
    cursor: pointer;
    /* font-family: 'Croissant One'; */
    font-family: 'Mooli';
    margin: 22px;
    font-size: 18px;
    list-style: none;
    display: flex;
    color: white;
}

.book-ola {
    margin-left: 450px;
    margin-top: 15px;
    border: transparent;
    height: 40px;
    width: 140px;
    cursor: pointer;
    background-color: #2b2b2b;
    color: white;
    /* font-family: 'Croissant One'; */
    font-family: 'Mooli';
}

.book-free {
    margin-left: 15px;
    margin-top: 15px;
    border: transparent;
    height: 40px;
    width: 140px;
    cursor: pointer;
    background-color: white;
    color: #2b2b2b;
    /* font-family: 'Croissant One'; */
    font-family: 'Mooli';
}

.navbar i {
    margin-top: 25px;
    margin-left: 20px;
    font-size: 25px;
}

.main-div-1 {
    height: 45vh;
    background-image: url(image/herobanner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65%;
    margin-bottom: 150px;
    margin-top: -20px;
    /* margin-left: -10px; */
    /* rotate: -1deg; */
}

.text h1 {
    font-size: 45px;
    font-family: 'Poppins';
    padding-left: 200px;
    padding-top: 100px;
    color: white;
}

.tab-container {
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    background: white;
    font-family: Gentona;
    padding: 0 25px;
    margin-left: 200px;
}

.tab-item {
    cursor: pointer;
    margin: 21px;
    font-family: 'Poppins';
    font-weight: 800;
}

.tab-item {
    position: relative;
    color: #000;
    text-decoration: none;
}

.tab-item:hover {
    color: #000;
}

.tab-item::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.tab-item:hover::before {
    transform: scaleX(1);
}

.page-container {
    width: 1100px;
    margin-left: 200px;
    background-color: #dee3e7;
    height: 90px;
}

.input-type {
    padding-top: 12px;
}

.input-type input {
    height: 50px;
    width: 250px;
    margin-top: 10px;
    margin-left: 100px;
}

::placeholder {
    font-family: 'Poppins';
    font-size: 18px;
    color: darkblue;
    text-align: center;
}


.input-type i {
    font-size: 15px;
    margin-top: 26px;
    margin-left: 110px;
    position: absolute;
}

.input-type {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.search-ola {
    background-color: darkcyan;
    color: #dee3e7;
    font-family: 'Poppins';
    font-size: 18px;
    border: transparent;
    margin-left: 100px;
    height: 50px;
    width: 250px;
}

.green-image img {
    width: 1100px;
    margin-left: 200px;
    margin-top: 10px;
}

.electrified-title h1 {
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
    font-family: 'Poppins';
    text-shadow: 1.152px 1.152px 0px #92C83E, 1.728px 1.728px 0px #76a22e;

}

.flex-space {
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    transition: 1.5s;
}

.flex-column img {
    margin-left: 25px;
}

.text-only p {
    text-align: center;
    padding-top: 5px;
}

.title-1 {
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 900;
}

.title-2 {
    font-family: 'Poppins';
    font-size: 25px;
}

.title-3 {
    font-family: 'Poppins';
    font-size: 15px;
    padding-bottom: 100px;
}

/* -------------------------------------------------Page No 2-------------------------------------- */

.main-div-2 {
    background-color: black;
    height: 145vh;
    /* width: 1050vh;
    margin-left: -50px;
    rotate: -1.3deg; */
}

.event-built h1 {
    color: white;
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 40px;
    padding-top: 100px;
    padding-left: 250px;
    text-shadow: 1.152px 1.152px 0px #000000, 1.728px 1.728px 0px #92C83E;

}

.image-ola img {
    padding-top: 50px;
    margin-left: 250px;
}

.box-container {
    display: flex;
}

.text-left p {
    color: white;
    font-family: 'Poppins';
    padding-left: 250px;
    line-height: 30px;
}

.text-left h2 {
    color: white;
    font-family: 'Poppins';
    padding-left: 250px;
    padding-top: 10px;
    cursor: pointer;
}

.black-box {
    padding-left: 80px;
}

.box {
    text-align: center;
    height: 150px;
    width: 160px;
    margin-top: -10px;
    background-color: #2b2b2b;
    box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
    transition: all ease 1s;
}

.box p {
    font-size: 15px;
    font-family: 'Poppins';
    color: white;
    font-size: 25px;
    padding-top: 20px;
}

.black-box-1 {
    padding-left: 50px;
}

.black-box-2 {
    padding-left: 50px;
}

.km {
    font-size: 17px;
}

.box:hover {
    transform: scale(1.2);
}

.box-subhead {
    font-size: 20px;
    font-family: 'Poppins';
    color: white;
    padding-top: 20px;
}

.ola-pink img {
    margin-left: 250px;
}

/* ---------------------------------------------------Page No 3------------------------------------------------ */

.main-div-3 {
    height: 100vh;
    padding-top: 60px;
    padding-left: 250px;
    /* background-color: lightsteelblue; */
    height: 220vh;
}

.text-ola-slide p {
    font-family: 'Poppins';
    font-size: 45px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.image-seaction {
    display: flex;
    margin-bottom: 100px;
}

.image-seaction {
    background-color: #f0f4f4;
    width: 1000px;
}

.item-header h1 {
    font-family: 'Poppins';
    font-size: 20px;
    padding-left: 80px;
    padding-top: 80px;
    cursor: pointer;
}

.item-header h2 {
    font-family: 'Poppins';
    font-size: 20px;
    padding-left: 80px;
    padding-top: 50px;
    cursor: pointer;
    color: green;
}

.item-header h1:hover {
    color: green;
}

.item-header p {
    padding-left: 80px;
    font-size: 14px;
    padding-top: 20px;
    line-height: 25px;
    font-family: 'Poppins';
    color: gray;
}

.photo img {
    margin-left: 75px;
}

/* ------------------------------------------------Page No 4--------------------------------------- */
.main-div-4 {
    background-color: #000000;
    height: 125vh;
}

.heading-1 h1 {
    color: white;
    font-family: 'Poppins';
    padding-left: 250px;
    text-shadow: 1.152px 1.152px 0px #000000, 1.728px 1.728px 0px #92C83E;
    padding-top: 100px;
    font-size: 50px;
}

.viedo-tag {
    margin-left: 250px;
    margin-top: 50px;
}

/* ------------------------------------------------ Page No 5 --------------------------------------- */
.main-div-5 {
    background-color: aliceblue;
    height: 100vh;
}

.title-font p {
    font-size: 45px;
    padding-left: 250px;
    padding-top: 100px;
    font-family: 'Poppins';
    text-shadow: 1.152px 1.152px 0px #92C83E, 1.728px 1.728px 0px #92C83E;
}

.row {
    display: flex;
    padding-left: 160px;
}

.column {
    padding-top: 50px;
    padding-left: 20px;
    justify-content: space-evenly;
}

.column-1 img {
    margin-top: 50px;
    padding-left: 100px;
}

.ride-head p {
    font-size: 25px;
    padding-top: 20px;
    font-family: 'Poppins';
    text-align: center;
}

.redi-para P {
    font-size: 15px;
    padding-top: 20px;
    font-family: 'Poppins';
    text-align: center;
}

/* ------------------------------------------------ Page No 6 --------------------------------------- */
.making-division {
    display: flex;
}

.making-division video {
    margin-left: 150px;
    margin-top: 100px;
}

.making-title h1 {
    font-size: 42px;
    font-family: 'Poppins';
    padding-top: 200px;
    padding-left: 100px;
    padding-bottom: 35px;
    text-shadow: 1.152px 1.152px 0px #92C83E, 1.728px 1.728px 0px #92C83E;

}

.making-ride span {
    font-size: 30px;
    font-family: 'Poppins';
    padding-left: 100px;
}

.making-drive p {
    font-size: 20px;
    color: gray;
    font-family: 'Poppins';
    padding-left: 100px;
    padding-bottom: 20px;
}

/* --------------------------------------------------------- Page No 7------------------------------------------- */

.main-div-7 {
    background-color: #f1f6e9;
    height: 90vh;
}

.text-p h1 {
    padding-left: 150px;
    padding-top: 80px;
    font-family: 'Poppins';
    font-size: 40px;
}

.photo-seaction img {
    margin-top: 50px;
    padding-left: 150px;
}

.photo-seaction {
    display: flex;
}

.item-a h1 {
    font-size: 45px;
    font-family: 'Poppins';
    padding-top: 35px;
    padding-left: 50px;
    text-shadow: 1.152px 1.152px 0px #92C83E, 1.728px 1.728px 0px #92C83E;

}

.item-a span {
    background-color: #daeed9;
    cursor: pointer;
    color: green;
    font-size: 25px;
    font-family: 'Poppins';
}

.item-a p {
    font-family: 'Poppins';
    font-size: 25px;
    padding-top: 20px;
    padding-left: 50px;
}

.svg {
    display: flex;
    margin-left: 50px;
}

.svg-item img {
    padding-left: 95px;
}

.svg-item li {
    list-style: none;
    /* text-align: center; */
    padding-left: 50px;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 18px;
}

.contant-8 h1 {
    padding-left: 150px;
    padding-top: 90px;
    font-size: 35px;
    font-family: 'Raleway';
    font-weight: 900;
}

.contant-8 p {
    padding-left: 150px;
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 25px;
}

/* -------------------------------- Page No 8------------------------------------ */
.main-div-8 {
    display: flex;
    height: 55vh;
    background-color: #f1f6e9;
}

.photo-111 img {
    margin-top: 100px;
    margin-left: 20px;
    cursor: pointer;
    transition: 1.5s;
}

.photo-111 img:hover {
    transform: scale(1.2);
    transition: 1.5s;
}

.photo-111 {
    margin-left: 80px;
}

.photo-111 p {
    margin-left: 85%;
    margin-top: 20px;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 15px;
    cursor: pointer;
}

.contant-8 button {
    border: transparent;
    border-radius: 10px;
    font-family: 'Poppins';
    font-size: 20px;
    margin-top: 30px;
    margin-left: 150px;
}

/* ------------------------------------------ Page No 9--------------------------------------------- */
.main-div-9 {
    height: 130vh;
}

.tag h2 {
    font-size: 45px;
    font-family: 'Poppins';
    text-shadow: 1.152px 1.152px 0px #92C83E, 1.728px 1.728px 0px #92C83E;
    padding-top: 100px;
    padding-left: 150px;
}

.paragraph {
    display: flex;
}

.paragraph p {
    font-size: 20px;
    line-height: 35px;
    padding-left: 150px;
    font-family: 'Raleway';
    font-weight: 900;
}

.lakh p {
    font-family: 'Poppins';
    margin-left: -80px;
    font-size: 20px;
}

.grid-image {
    display: block;
}

.grid-container {
    width: calc(100% - 48px);
    margin-top: 50px;
    margin-left: 24px;
    display: grid;
    display: flex;
    row-gap: 16px;
    column-gap: 16px;
    align-content: space-evenly;
    justify-content: space-evenly;
    grid-template-columns: 70%;
    grid-template-rows: auto 40% 40%;
}

/* ----------------------------------------Page No 10-------------------------------- */
.main-div-10 {
    height: 80vh;
}

.recent h1 {
    font-size: 45px;
    font-family: 'Poppins';
    padding-top: 100px;
    padding-left: 15px;
    text-shadow: 1.152px 1.152px 0px #92C83E, 1.728px 1.728px 0px #92C83E;

}

.contant-10 {
    margin-left: 200px;
}

.contant-10 .gallery {
    margin-left: 25px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
    height: 310px;
    margin-top: 50px;
    justify-content: space-between;
    transition: 1.5s;
}

div.gallery:hover {
    border: 1px solid #777;
    transform: scale(1.2);
    transition: 1.5s;
}

div.gallery img {
    width: 250px;
    height: auto;
    justify-content: space-between;
}

div.desc {
    padding: 15px;
    font-family: 'Poppins';
    text-align: center;
}

div .desx {
    color: green;
    padding: 15px;
    font-family: 'Poppins';
    text-align: center;
}

/* ---------------------------------------------Page No 10----------------------------------------- */
.contant-10 {
    display: flex;
    /* margin: 50px; */
    margin-left: 150px;
    margin-top: 50px;
}

.coll-30 {
    background: repeating-linear-gradient(#F4F8FC 0%, #D8DDE6 100%);
    width: 350px;
    height: 310px;
    border-radius: 5px;
    padding-bottom: 50px;
    margin-left: 50px;
    transition: 1.5s;
}

.row-30 {
    margin-bottom: 10px;
}

.row-30 img {
    margin: 30px;
    /* margin-left: 50px;
    margin-top: 50px; */
    border-radius: 20px;
    cursor: pointer;
}

.recent h1 {
    padding-left: 170px;
}

.para-11 h1 {
    font-family: 'Poppins';
    font-size: 30px;
    padding-top: 20px;
    padding-left: 25px;
    cursor: pointer;
}

.para-11 p {
    font-size: 13px;
    color: gray;
    font-family: 'Poppins';
    padding-left: 25px;
    padding-top: 10px;
    cursor: pointer;

}

.head-down h1 {
    padding-left: 200px;
    font-family: 'Poppins';
    padding-top: 50px;
    text-shadow: 1.152px 1.152px 0px #92C83E, 1.728px 1.728px 0px #92C83E;
}

/* ----------------------------------------- Page No 11--------------------------------------------- */

.main-div-11 {
    background-color: #D8DDE6;
    height: 53vh;
}

.contant-11 {
    display: flex;
    margin-left: 150px;
    padding-top: 80px;
    width: 50px;
}

.social-icon {
    padding-left: 140px;
}

.social-icon i {
    padding-left: 20px;
    font-size: 30px;
    color: #000000;
}

.footer-name {
    display: flex;
    margin-left: 150px;
    margin-top: -100px;
    line-height: 35px;
}

.footer-name li {
    display: flex;
    list-style: none;
    font-family: 'Poppins';
}

.footer-name ul {
    margin-left: 80px;
}

.input-verify input {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -.01em;
    color: #707070;
    background: #fff;
    border: 1.5px solid #e0e0e0;
    padding: 16px;
    width: 261px;
    margin-left: 95px;
}

.input-verify button {
    width: 240px;
    color: white;
    line-height: 140%;
    letter-spacing: -.01em;
    height: 60px;
    background: radial-gradient(127.68% 2996.56% at 12.65% 127.68%, #000 0, #222 100%);
    box-shadow: -3px 3px 0 #32c86e;
    font-family: 'Poppins';
}

.footer-button {
    display: flex;
}

.other-link li {
    list-style-type: none;
    display: inline;
    padding-left: 50px;
    font-family: 'Poppins';
    color: gray;
    cursor: pointer;

}

.footer-button p {
    font-family: 'Poppins';
    padding-left: 250px;
}

.web {
    font-family: 'Poppins';
    padding-left: 50px;
}

.other-link li {
    position: relative;
    color: gray;
    text-decoration: none;
}

.other-link li:hover {
    color: #000;
}

.other-link li::before {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    bottom: 0;
    left: 20;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.other-link li:hover::before {
    transform: scaleX(1);
}