*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .main-div{
    background-color: black;
} */
.nav-bar{
    padding: 20px;
    padding-left: 100px;
    display: flex;
}

ul{
    list-style: none;
    display: flex;
    gap: 30px;
    padding-top: 18px;
    padding-left: 50px;
}

a{
    color: white;
    text-decoration: none;
}

#btn1{
    background-color: gray;
    padding: 15px;
    margin-left: 40%;
    display: flex;
}

#btn2 > a{
    color: black;
}

#btn2{
    padding: 12px;
    margin-left: 21px;
}

.bar{
    color: white;
    padding: 15px;
    padding-left: 25px;
    font-size: 21px;
}

