*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-div{
    background-color: burlywood;
    width: 40%;
    margin: 100px;
}

#fname{
    border-top:  0px;
    border-left:  0px;
    border-right:  0px;
}

